<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vente!</title>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar bg-base-100">
            <a class="navbar-start" asp-page="/Index">Vente</a>
            <div class="navbar-center">
                <ul class="menu menu-horizontal px-1">
                    <li>
                        <a asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/Dashboard">
                        <button class="btn btn-outline btn-primary">Panel de control</button>
                    </a>
                    <a asp-page="/Account/Logout">
                        <button class="btn btn-outline btn-danger">Cerrar session</button>
                    </a>
                }
                else
                {
                    <div class="flex-row">
                        <a asp-page="/Account/Login">
                            <button class="btn btn-outline btn-secondary">
                                Afiliados
                            </button>
                        </a>
                    </div>
                }
            </div>
        </nav>
    </header>

    <main role="main" class="min-h-screen flex flex-col justify-between">
        <section class="flex-grow">
            @RenderBody()
        </section>
        <footer class="footer footer-center">
            <p>
                &copy; 2024 - Vente
            </p>
        </footer>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>