@page
@model Server.Pages.Account.LogoutModel
@{
}

<div class="hero">
    <div class="hero-content">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Cerrar session</h2>
                <form method="post">
                    <button type="submit" class="btn btn-danger w-full">Cerrar session</button>
                </form>
            </div>
        </div>
    </div>
</div>