@page
@model Server.Pages.Admin.IndexModel
@{
}

<div class="hero">
    <div class="hero-content">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body items-center text-center">
                <a asp-page="/Admin/Users" asp-route-pageId=0>Users</a>
                <a asp-page="/Admin/EventPlaces" asp-route-pageId=0>Places</a>
            </div>
        </div>
    </div>
</div>