@page
@model Server.Pages.Admin.Affiliates.IndexModel
@{
}

<div class="hero">
    <div class="hero-content">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Users</h2>

                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Affiliates)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    <form method="post" asp-page-handler="Login" asp-route-affiliateId="@user.Id">
                                        <button>Login</button> 
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <a asp-page="/Admin/Affiliates/Create">
                    <button class="btn btn-primary">Create new affiliate</button>
                </a>
            </div>
        </div>
    </div>
</div>
