@page "{id:int}"
@model Server.Pages.Admin.EventPlaces.EditModel
@{
}

<div class="hero">
    <div class="hero-content">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Edit Event Place</h2>

                <form method="post">
                    <span asp-validation-for="EventPlace.Name" class="text-danger"></span>
                    <label class="input input-bordered flex items-center gap-2 mb-3">
                        <input asp-for="EventPlace.Name" class="grow" placeholder="Name" />
                    </label>

                    <span asp-validation-for="EventPlace.Description" class="text-danger"></span>
                    <label class="input input-bordered flex items-center gap-2 mb-3">
                        <input asp-for="EventPlace.Description" class="grow" placeholder="Description" />
                    </label>

                    <span asp-validation-for="EventPlace.LocationId" class="text-danger"></span>
                    <label class="input input-bordered flex items-center gap-2 mb-3">
                        <input asp-for="EventPlace.LocationId" class="grow" placeholder="Location Id" />
                    </label>

                    <span asp-validation-for="EventPlace.PriceRangeStart" class="text-danger"></span>
                    <label class="input input-bordered flex items-center gap-2 mb-3">
                        <input asp-for="EventPlace.PriceRangeStart" class="grow" placeholder="Price range begin" />
                    </label>

                    <span asp-validation-for="EventPlace.PriceRangeEnd" class="text-danger"></span>
                    <label class="input input-bordered flex items-center gap-2 mb-3">
                        <input asp-for="EventPlace.PriceRangeEnd" class="grow" placeholder="Price range end" />
                    </label>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-primary w-full">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
