@page
@model Server.Pages.Contact

@{ }

<div class="hero">
    <div class="hero-content flex-col">
        <h2 class="text-2xl">Información de contacto</h2>

        <p>
            Correo electrónico: venteappservice@gmail.com
        </p>
        
        <p>
            Dirección: Calle Mallorca 22, Cambrils, Tarragona, España
        </p>
        
        <p>
            Número: +34 629 917 352
        </p>
    </div>
</div>
