@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="hero">
    <div class="hero-content flex-col space-y-16">
        <section class="flex flex-col md:flex-row-reverse md:flex-row items-center space-y-5 md:space-y-0 md:space-x-5">
            <div class="flex flex-col items-center md:flex-row">
                <img src="logo.png" alt="Logo" class="h-24 rounded-full"/>
                <div>
                    <h2 class="text-2xl text-primary">Vente</h2>
                    <p>La app para gente que sale.</p>
                    <div class="flex flex-row space-x-2">
                        <a>
                            <img src="AppStoreButton.svg" alt="App Store"/>
                        </a>
                        <a>
                            <img src="PlayStoreButton.svg" alt="Google Play Store"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mockup-phone">
                <div class="camera"></div>
                <div class="display bg-black">
                    <img src="main-page-ss.jpg" alt="Main page" class="w-60 md:w-72 h-auto"/>
                </div>
            </div>
        </section>
        
        <section class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-8">
            <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-8">
                <div class="max-w-52 self-center text-center md:text-left">
                    <h2 class="text-2xl text-primary">¿A donde ir?</h2>
                    <p>Descubre los mejores lugares personalizados para el día y lugar que vas.</p>
                </div>

                <div class="relative md:hidden">
                    <div class="mockup-phone absolute transform -translate-x-[35%]">
                        <div class="camera"></div>
                        <div class="display bg-black">
                            <img src="places-page-ss.jpg" alt="Places page" class="w-52 h-auto"/>
                        </div>
                    </div>
                    <div class="mockup-phone relative transform translate-x-[35%]">
                        <div class="camera"></div>
                        <div class="display bg-black">
                            <img src="event-place-page-ss.jpg" alt="Event place page" class="w-52 h-auto"/>
                        </div>
                    </div>
                </div>
                
                <div class="hidden md:block">
                    <div class="mockup-phone">
                        <div class="camera"></div>
                        <div class="display bg-black">
                            <img src="places-page-ss.jpg" alt="Places page" class="w-72 h-auto"/>
                        </div>
                    </div>
                    <div class="mockup-phone">
                        <div class="camera"></div>
                        <div class="display bg-black">
                            <img src="event-place-page-ss.jpg" alt="Event place page" class="w-72 h-auto"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-8">
            <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-8">
                <div class="max-w-52 self-center text-center md:text-left">
                    <h2 class="text-2xl text-primary">Conoce a otra gente</h2>
                    <p>Descubre quien va el mismo dia y lugar que tu.</p>
                </div>

                <div class="mockup-phone">
                    <div class="camera"></div>
                    <div class="display bg-black">
                        <img src="profile-page-ss.jpg" alt="Profile page" class="w-60 md:w-72 h-auto"/>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
